.banner {
  height: 400px;
  @include flex-v-center;
  justify-content: end;
  background-image: url("../../img/banner_orig.png");

  &--top {
    margin-top: 160px;
  }

  &__text {
    font-size: 24px;
    color: $black;
    margin-right: 210px;

    &--strong {
      font-weight: 600;
    }
  }
}
