.header {
  padding-top: 25px;

  &__list {
    list-style: none;
  }

  &__top-box,
  &__bottom-box,
  &__list,
  &__icons {
    @include flex-v-center;
  }

  &__top-box,
  &__bottom-box {
    justify-content: space-between;
  }

  &__bottom-box {
    margin-bottom: 30px;
  }

  &__top-box {
    margin-bottom: 25px;
  }

  &__logo-box {
    margin-right: 50px;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav {
    flex: auto;
  }

  &__mail-text,
  &__telephone-text {
    color: $graydark;
  }

  &__watsap,
  &__tg {
    @include flex-all-center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $dark;
  }

  &__watsap-link,
  &__tg-link {
    @include flex-all-center;
  }

  &__link {
    font-size: 16px;
    color: $graydark;
    line-height: 140%;
  }

  &__link--black {
    color: $black;
    font-weight: 600;
  }

  &__watsap {
    margin-right: 15px;
  }

  &__tg {
    padding-right: 3px;
  }

  &__icons--top {
    margin-right: 30px;
  }

  &__icons--bottom {
    width: 160px;
    display: flex;
    justify-content: space-between;
  }

  &__mail {
    display: flex;
    margin-right: 30px;

    &::after {
      content: "";
      @include flex-all-center;
      margin-left: 5px;
      width: 20px;
      height: 20px;
      background-image: url("../../img/arrow-down.png");
      cursor: pointer;
    }
  }

  &__telephone {
    display: flex;
    align-items: end;

    &::after {
      content: "";
      @include flex-all-center;
      margin-left: 5px;
      width: 20px;
      height: 20px;
      background-image: url("../../img/arrow-down.png");
      cursor: pointer;
    }
  }

  &__search,
  &__hearth,
  &__bug {
    cursor: pointer;
  }
}
