.sale {
  &--margin-bottom {
    margin-bottom: 100px;
  }

  &--margin-top {
    margin-top: 100px;
  }

  &__title {
    color: $black;
    font-size: 40px;
    font-weight: 500;
    line-height: 110%; /* 44px */
    letter-spacing: 0.4px;
    margin-bottom: 20px;
  }

  &__layout {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  &__left--box {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &__boot {
    height: 450px;
    background-image: url("../../img/sale-img/boot.png");
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;

    transition: all 0.3s ease-in-out;
  }

  &__del {
    height: 320px;
    background-image: url("../../img/sale-img//del.png");
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;

    transition: all 0.3s ease-in-out;
  }

  &__top-box {
    display: flex;
    column-gap: 20px;
    height: 320px;

    a {
      width: 50%;
    }
  }

  &__pants {
    width: 100%;
    height: 100%;
    background-image: url("../../img/sale-img/pantal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    transition: all 0.3s ease-in-out;
  }

  &__t-shirts {
    width: 100%;
    height: 100%;
    background-image: url("../../img/sale-img/t-shirt.png");
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;

    transition: all 0.3s ease-in-out;
  }

  &__hoodies {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-image: url("../../img/sale-img/hoodies.png");
    // background-size: 100%;
    background-position-x: right;
    background-repeat: no-repeat;

    transition: all 0.8s ease-in-out;
  }

  &__link {
    display: block;
    position: relative;
    color: $black;
    font-style: normal;
    overflow: hidden;

    &:hover {
      .sale__hoodies,
      .sale__boot,
      .sale__pants,
      .sale__t-shirts {
        transform: scale(1.2);
      }
    }

    p {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 24px;
      font-weight: 500;
    }

    span {
      position: absolute;
      bottom: 20px;
      left: 25px;
      display: inline-flex;
      padding: 8px 20px;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border-radius: 12px;
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
    }
  }

  &__link--hoody {
    height: 57%;
  }

  &__del {
    @include flex-v-center;
    padding: 32px 20px 67px;
  }

  &__del-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 110%; /* 35.2px */
    letter-spacing: 0.32px;
  }

  &__del-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.16px;
  }

  &__del-title--margin-bottom {
    margin-bottom: 12px;
  }

  &__del-btn {
    padding: 12px 32px;
    align-items: center;
    border-radius: 12px;
    background-color: $white;
    color: $black;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%; /* 17.6px */
    letter-spacing: 0.16px;
  }

  &__del-sub-title--margin-bottom {
    margin-bottom: 32px;
  }

  &__price-text--top-position {
    bottom: 0;
    top: 370px;
    height: max-content;
  }
}

@media (max-width: 1000px) {
  .sale {
    &__layout {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr;
    }

    &__top-box {
      display: flex;
      column-gap: 20px;
      height: 320px;

      a {
        width: 50%;
      }
    }
  }
}
