.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  cursor: pointer;
}

/* добавляем стили для кнопок навигации */
.swiper-button-prev--arrow-left,
.swiper-button-next--arrow-right {
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  // background-image: url("../../img/goods-img/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-next--arrow-right {
  position: absolute;
  right: -40px;
  // left: 57% !important;
  background-image: url("../../img/icon-right.png");
}

.swiper-button-prev--arrow-left {
  position: absolute;
  left: -40px;
  background-image: url("../../img/icon-left.png");
  // left: 47% !important;
}

// .swiper-button-prev {
//   left: 10px;
// }

// .swiper-button-next {
//   right: 10px;
// }

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "" !important;
}

/* добавляем стили для пагинации */
.slider-bullets {
  // position: absolute;
  z-index: 2;
  bottom: 33px;
  left: 50% !important;
  width: 100%;
}

.slider-nav {
  position: absolute;
  bottom: 53px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  bottom: 30px;
  flex-direction: row;
  margin-bottom: 0px;
  z-index: 5;
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  border-radius: 100%;
  border: 2px solid $white;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.slider-goods {
  position: relative;
  width: 100%;
  height: 100%;

  &__text {
    color: $black;
    font-size: 40px;
    font-weight: 500;
    line-height: 110%; /* 44px */
    letter-spacing: 0.4px;
  }

  &__top-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__arrow-left {
    width: 40px !important;
    height: 40px !important;
    // background-image: url("../../img/goods-img/icon-left-svg.svg");
  }

  &__arrow-left:hover,
  &__arrow-right:hover {
    .goods-svg {
      fill: $graydark;
    }
  }

  &__arrow-left:active,
  &__arrow-right:active {
    .goods-svg {
      fill: $red;
    }
  }

  &__arrow-right {
    width: 40px !important;
    height: 40px !important;
    // background-image: url("../../img/goods-img/icon-right-svg.svg");
  }

  &__arrows {
    position: relative;
    width: 120px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: "";
  }
}
