$container-width-desktop: 1720px;

//colors
$dark: #464646;
$graydark: #716969;
$black: #2b2929;
$yellow_dark: #f1bf5d;
$white: #ffffff;
$gray-white-white: #efefef;

//fonts
$font-main: "Inter", sans-serif;
